.userimage{
    border-radius: 50px;
    width: 60px;
    background-color: #f5003d !important;
    cursor:pointer;
}

.userdetails >  b {
    cursor: pointer;
}
.chirp_box{
    display: flex;
    padding: 15px;
    margin:10px 2px;
    padding-bottom: 0;
}

.post_box{
    border-radius: 10px;
    background-color: rgba(173, 173, 173, 0.205);
    margin: 0 -25px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.chirpbox_details{
    margin-left: 20px;
    width: 100%;
}

.chirpoptions{
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.chirpoptions > p > span {
    margin-left: 15px;
}
.chirpoptions > .MuiButton-root > span > svg {
    margin-right: 10px;
}
.chirpoptions > .MuiButton-root > span {
    color: black;
    display: flex;
    align-items: center;
    /* z-index: -5; */
}
.chirpoptions > p > .MuiButton-root > span {
    color: black;
    display: flex;
    align-items: center;
    /* z-index: -5; */
}
.chirpoptions > p > .MuiButton-root > span > .MuiSvgIcon-root {
    color: #E22E2E !important;
    margin-right: 10px;
}
.chirpoptions > .likebtn > span  > .MuiSvgIcon-root {
    color: #0166C0 !important;
}
.chirpoptions > p {
    display: flex;
    align-items: center;
}
.timedetatils{
    font-size: 12px;
}
.loctdetails > .MuiSvgIcon-root {
    color: #0166C0 ;
}
.loctdetails{
    margin:15px 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.MuiSvgIcon-root{
    padding: 0px 3px ;
}
.noloctdetails{
    margin:15px 0;
    height: 10px;
}

.messagedetails{
    margin-top: 10px;
    font-size: 15px;
    padding:0 25px;
}
.postimg_container{
    width:auto;
    padding: 20px;
    padding-top: 7px;
}
.postimg_container > img {
    width: 100%;
}

@media(max-width:800px){
    .postimg_container{
        width:auto;
        padding: 5px;
        padding-top: 7px;
    }
    .messagedetails{
        font-size: 10px;
    }
    
}