.comment_box{
    display: flex;
    height: 100%;
}
.modalimage{
    height: 100%;
}
.mimage_contain{
    display: flex;
    flex: 0.49;
    flex-direction: row;
    /* background: url("https://i.pinimg.com/originals/4a/3c/8c/4a3c8c74375e8fbe5adf99db215ca0e2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.modal_comments{
    display: flex;
    flex: 0.5;
    flex-direction: column;
}
.modal_comments_cont {
    height: 90%;
    overflow-y: scroll;
}
.modal_comments_cont::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal_comments_cont {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.mimage_contain > div {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 15px;
}
.comment_window{
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 50%;
    display: flex;
    /* flex-direction: column; */
}
.add_combtn{
    position: fixed;
    bottom: 50px;
    right: 45px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.add_combtn > .MuiIconButton-root  {
    color: #0166C0 !important;
}
.comment_box{
    /* height: fit-content; */
    /* overflow: scroll; */
}
.comments{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}
.comment_window > .MuiInput-root{
    width: 90% !important;
    margin: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.closer{
    position: absolute;
    top: 15px;
    right: 15px; 
    cursor: pointer;
}
.commentname{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}
.commentname > span{
    font-size: 10px;
    font-weight: 400;

}
.commentval{
    margin-left: 10px;
    font-size: 18px;
}
.commentdiv{
    display: flex;
}
@media (max-width:850px){
    .comment_box{
        flex-direction: column;
    }
    .comment_window{
        width: 90%;
    }
    .mimage_contain{
        margin-top: 20px;
    }
    .closer{
        position: absolute;
        top: 10px;
        right: 5px; 
        cursor: pointer;
    }
    .ReactModal__Overlay{
        inset: -35px !important;
    }
    .add_combtn{
        position: fixed;
        bottom: 20px;
        right: 8px;
    }
    .comment_window{
        position: fixed;
        bottom: 20px;
    }
}