.inputpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.inputform{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}