.inputpage{
    display: grid;
    align-items: center;
    margin: auto;
    height: 550px;;
}

.inputform{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 350px;
}
.inputform > div{
    display: flex;
    flex-direction: column;
    margin:0 ;
    width: 97%;
}
.MuiFormControl-root {
    margin:15px 2px 0px 2px !important;
    width: 100%;
    max-width: 350px;
    background-color: white;
    border-radius: 18px;
}
.MuiOutlinedInput-root{
    border-radius: 18px !important;
}
.submitbutton{  
    background-color: #0166C0 !important;
    padding: 15px;
    border-radius: 20px;
    color: white !important;
    font-size: 20px;
    border: none;
}
.submit_button > .MuiButton-root {
    width: 20%;
    display: flex;
    margin: auto;
}
.submit_button{
    padding-top: 25px;
}
input{
    border: 0px solid;
    width: 90%;
    margin-left: 15px ;
    outline: none;
    text-align: center;
}

input::placeholder {   
    /* Firefox, Chrome, Opera */ 
    font-size: 15px;
    text-align: center; 
} 

/* #chirp{
    height: 3rem;
}
#loct{
    height: 3rem;
} */
.inputimager{
    margin-top: 20px;
}

.select_image{
    height: auto;
    cursor: pointer;
    width: 75vw;
    max-width: 300px;
    margin: auto;
    display: flex;
    height: 200px;
}

.post_imgcont{
    height: 250px;
    max-width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
@media(max-width:800px){
    .post_imgcont{
        margin-left: 6px;
        width: 92%;
        background-position: center;
    }
    .MuiFormControl-root {
        margin:15px 2px 0px 2px !important;
        width: 92%;
    }
}