.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background-color: rgb(68, 68, 255); 
    color: white;
}

.appname{
    font-size: 25px;
    font-weight: bold;   
}
a{
    text-decoration: none;
    color: white;
}

.icons {
    color: white;
    padding: 10px;
}