.homefeed{
    display: flex;
    justify-content: space-around;
}
.chirp-body{
    background-color: blue;
    align-items: center;
}

@media (max-width:1000px){
    .homefeed{
        display: inline;
    }
    .home-left{
        display: none;
    }
    .home-right{
        display: none;
    }
}