.homefeed{
    display: flex;
    justify-content: space-around;
}
.chirp-body{
    background-color: blue;
    align-items: center;
}
.home-mid{
    width: 40%;
}
@media (max-width:1000px){
    .home-mid{
        width: 100%;
    }
    .homefeed{
        display: inline;
    }
    .home-left{
        display: none;
    }
    .home-right{
        display: none;
    }
}