.homefeed{
    display: flex;
    justify-content: space-around;
}
.chirp-body{
    background-color: blue;
    align-items: center;
}
.home-mid{
    width: 40%;
}
.home-left{
    padding: 0 58px;
    position: sticky;
    top: 150px;
    height: 550px;
    background-color: rgba(173, 173, 173, 0.281);
}
.home-right{
    position: sticky;
    top: 120px;
}
@media (max-width:1000px){
    .home-mid{
        width: 100%;
    }
    .homefeed{
        display: inline;
    }
    .home-left{
        display: none;
    }
    .home-right{
        display: none;
    }
}