.login_container{
    background-image: url("../../images/5.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.logo{
    max-width: 550px;
}
.loginbox{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: center;
    width: 80%;
    margin: auto;
}
.loginbox > div{
    align-items: center;
    margin: auto;
}
.loginbox > div > h1 {
    font-size: 28px;
    width: 100%;
    text-align: center;
}
.login_enter > p{
    padding-bottom: 20px;
    font-size: 18px;
}
.login_enter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.appheader{
    align-items: center;
}
.glogo{
    height: 20px;
    margin-right: 10px;
}
.loginbutton{
    background-color: #0166C0 !important;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-weight: 600;
}
.loginbutton > span {
    font-size: 17px;
    color: rgb(255, 255, 255) !important;

}
#logo12{
    display: none;
}
@media(max-width:800px){
    .login_container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-image: url("../../images/5.jpg");
        background-position: left;
        background-size: cover;
    }
    .loginbox{
        display: flex;
        flex-direction: column;
    }
    .loginbox > div > img {
        display: flex;
        width: 80%;
        margin: auto;
    }
    #logo11{
        display: none;
    }
    #logo12{
        display: block;
        padding-bottom :150px ;
    }
}