.login_container{
    background-image: url("../../images/web/3.png");
    background-size: cover;
    height: 100vh;
    display: grid;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.logo{
    max-width: 500px;
    margin-left: 100px;
}
.loginbox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.loginbox > div > h1 {
    font-size: 25px;
}
.appheader{
    align-items: center;
}
.loginbutton{
    background-color: #0166C0 !important;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
}
.loginbutton > span {
    color: rgb(255, 255, 255) !important;

}

@media(max-width:800px){
    .login_container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .loginbox > div > img {
        display: flex;
        width: 80%;
        margin: auto;
    }
}